<div class="container">
    <div class="row mb-3">
        <div class="col-sm-8 themed-grid-col">
            <pdks-articles></pdks-articles>
        </div>
        <div class="col-sm-4 themed-grid-col">
            <div>
                <pdks-category-bar [categories]="categories"></pdks-category-bar>
            </div>
            <p></p>
            <div class="container">
                <pdks-login-bar [isAuthorized]="isAuthorized"></pdks-login-bar>
            </div>
        </div>
    </div>
</div>