<div class="form-group inner">
    <input class="form-control" ngModel #login="ngModel" name="login" matInput placeholder="Ім’я користувача:" required>
    <p></p>
    <input class="form-control" type="password" ngModel #password="ngModel" name="password" matInput placeholder="Пароль:" required>
    <p></p>
    <div>
        <input class="btn btn-primary float-sm-right" type="submit" value=" Увійти">
        <label class="checkbox-inline float-sm-left">
            <input type="checkbox" value="">
            Запам'ятати мене
        </label>
    </div>
</div>