<form *ngIf="!isAuthorized" [formGroup]="authForm">
    <div class="form-group inner">
        <input formControlName="username" class="form-control" matInput placeholder="Ім’я користувача:" required>
        <p></p>
        <input formControlName="password" class="form-control" autocomplete="section-blue shipping address-level2" type="password" matInput placeholder="Пароль:" required>
        <p></p>
        <div *ngIf="!isValid" class="alert alert-danger">Логін або пароль не правильні</div>
        <div>
            <button name="submitButton" (click)="doLogin(authForm.value)" class="btn btn-primary float-sm-right" type="submit">Увійти</button>
            <label class="checkbox-inline float-sm-left">
            <input type="checkbox" value="">
            Запам'ятати мене
            </label>
        </div>
    </div>
</form>