/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 80px;
}

.row {
    border: 2px;
    padding: 20px;
    border-color: black;
}

.pointer-header {
    cursor: pointer;
}


/* body {
    background: url(http://freemason.zp.ua/wp-content/uploads/2017/11/22472275_813029605558820_269949250_o.jpg) top right no-repeat;
    background-attachment: fixed;
} */