<div class="container">
    <!-- <div class="row mb-3 border">
        <div class="col themed-grid-col">

        </div>
    </div> -->
    <div class="row mb-3 border">
        <div class="col-sm-8 themed-grid-col">
            <app-articles [articles]="articles"></app-articles>
        </div>
        <div class="col-sm-4 themed-grid-col">
            <div>
                <app-category-bar></app-category-bar>
            </div>
            <p></p>
            <div class="container">
                <app-login-bar></app-login-bar>
            </div>
        </div>
    </div>
</div>